body{
    /* Main body-design, including margin at 0, background color of page blue, text color as black(simple), Font family Times new Roman, Font size set as Large */
    margin:0;
	background: green;
	color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
article{
    padding: 30px;
}
/*  Font size xx-large, Font Family- Gothic Medium, Color as White (bold on the blue background), Tried the text shadow option. */
h1{
    
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
	text-shadow:0 0 2px orangered;
}
/* Font family Ariel, Font Size Large, Font Color red, used text shaow again (different color) don't really see a difference, Font family Times. */
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
	color: red;
	text-shadow:0 0 2px white;
	font-family: times new roman, arial;
}
}
/* paragraph's= all set the same I tried to indent every one like the tab option, but I could not figure it out. I will explore for my final project. Margin's set as auto instead, Font Family color aqua (looks good on the blue background) text shadow.  */
p{
    font-family: times new roman, arial;
    margin: auto;
	color: #00bbbb;
	text-shadow:0 0 2px purple;
	
